<div class="landing-page__footer-container">
    <img class="landing-page__footer-logo" src="{{ 'Logo.png' | asset_img_url: 'master' }}" />
    <p class="landing-page__footer-paragraph">Hustle Clean is a mission-driven, black-owned business committed to empowering the pursuit of greatness.</p>
    <h3 class="landing-page__footer-title">Contact</h3>
    <p class="landing-page__footer-email">support@hustleclean.com</p>
    <div class="landing-page__footer-terms">
        <a href="/pages/terms-conditions"><span>Terms & Conditions •</span></a>
        <a href="/pages/privacy-policy"><span>Privacy Policy</span></a>
    </div>
</div>