<div class="Alternating-Feature-Section" product-handle="{{product.handle}}">
<div class="Alternating__container margin-bottom-50">
    <img src="{{ 'man-wiping-arm.jpg' | asset_img_url: 'large' }}" />
    <div class="Alternating__content-container">
        <h1 class="Alternating__title">FDA Approved</h1>
        <h4 class="Alternating__subtitle">To Kill 99.9% of Germs</h4>
        <p class="Alternating__paragraph">Our active ingredient, benzalkonium chloride, is an FDA approved, alcohol-free, germ killing solution for anyone who is looking to stay fresh without damaging skin.</p>
    </div>
</div>
<div class="Alternating__container flex-column-reverse">
    <div class="Alternating__content-container--left-align">
        <h1 class="Alternating__title">CLEAN INGREDIENTS</h1>
        <h4 class="Alternating__subtitle">That nourish & replenish</h4>
        <p class="Alternating__paragraph">Aloe vera, witch hazel, & vitamin e give your skin the nutrients it deserves with none of the harmful stuff it doesn't. Paraben free & sulfate free, plus we never ever test on animals.</p>
    </div>
    <img src="{{ 'man-wiping-arm.jpg' | asset_img_url: 'large' }}" />
</div>
</div>